bin/
obj/
.vs/
*.user
*.suo
android/.gradle/
android/**/build/
*.apk
*.aab
*.partial
.tools/
.gradle-home/
.android/
android/.temp/
artifacts/
android-build*.log
ppt_build/node_modules/
ppt_build/preview/
.android-home/
android/.kotlin/
android/local.properties
